<mat-chip-listbox aria-label="Fish selection">
    <mat-chip-option color="success">Success</mat-chip-option>
    <mat-chip-option color="info">Info</mat-chip-option>
    <mat-chip-option color="warning">Warning</mat-chip-option>
    <mat-chip-option color="primary">primary</mat-chip-option>
    <mat-chip-option color="accent" selected>Accent</mat-chip-option>
    <mat-chip-option color="warn"  (ngModel)="MatChip.done">
      <img
        matChipAvatar
        src="https://material.angular.io/assets/img/examples/shiba1.jpg"
        alt="Photo of a Shiba Inu"
      />
      Dog one
    </mat-chip-option>
  </mat-chip-listbox>