<section class="progress-bar-container">
  <mat-progress-bar  color="success" mode="indeterminate"></mat-progress-bar>
  <mat-progress-bar color="info" mode="indeterminate"></mat-progress-bar>
  <mat-progress-bar color="warning" mode="indeterminate"></mat-progress-bar>
  <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
  <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
</section>
