

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

$typography-config: mat.define-typography-config(

    $font-family:'Roboto',
    /*this is a h1*/
    $headline-5: mat.define-typography-level(90px, 96px, 300,$font-family:'Nunito'),
    /*this is a h2*/
    $headline-6: mat.define-typography-level(68px, 68px, 400,$font-family:'Nunito'),
    /*this is a h3*/
    $subtitle-1: mat.define-typography-level(48px, 48px, 500,$font-family:'Nunito'),
    /*body-1 is a h4*/
    $body-1: mat.define-typography-level(34px, 34px, 600,$font-family:'Nunito'),
    /*body-2 is a default text*/
    $body-2: mat.define-typography-level(16px, 16px, 400,$font-family:'Roboto'),

    $subtitle-2: mat.define-typography-level(14px, 14px, 500,$font-family:'Roboto'),
    
);

$toolbar-typography: mat.define-typography-config(
  $headline-6: mat.define-typography-level(24px, 34px, 400,$font-family:'Nunito'!important),
);


@include mat.toolbar-typography($toolbar-typography);



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theming-primary: mat.define-palette(mat.$indigo-palette);
$theming-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$theming-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

$theming-theme: mat.define-light-theme((
  color: (
    primary: $theming-primary,
    accent: $theming-accent,
    warn: $theming-warn,
  ),
  typography: $typography-config,
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-typographies($typography-config);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
