.example-spacer {
    flex: 1 1 auto;
  }

  .container-Typographys{
    margin: 3rem auto ;
    width: 80%;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }