// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "sass:map";
@import "./palettes";

$other: (
  divider: rgba(16, 24, 64, 0.12),
  outlinedBorder: rgba(16, 24, 64, 0.23),
  backdropOverlay: rgba(16, 24, 64, 0.5),
  filledInputBackground: rgba(16, 24, 64, 0.06),
  standardInputLine: rgba(16, 24, 64, 0.42),
  snackbar: #1b344c,
  ratingActive: #ffb400,
);

$background: (
  paper: #fbfbfb,
  default: #f1f0ee,
);

$toolbar: mat.define-typography-level(
  24px,
  24px,
  400,
  $font-family: "Roboto" !important
);
$typography-config: map.merge(
  mat.define-typography-config(
    $headline-5:
      mat.define-typography-level(96px, 96px, 300, $font-family: "Nunito"),
    $headline-6:
      mat.define-typography-level(60px, 60px, 400, $font-family: "Nunito"),
    $subtitle-1:
      mat.define-typography-level(48px, 48px, 500, $font-family: "Nunito"),
    $subtitle-2:
      mat.define-typography-level(34px, 34px, 600, $font-family: "Nunito"),
  ),
  (
    "toolbar": $toolbar,
  )
);

.mat-toolbar {
  @include mat.typography-level($typography-config, "toolbar");
}

@include mat.core();
//LIGHT MODE COLORS
$primary-color: mat.define-palette($primary);
$accent-color: mat.define-palette($accent);
$warn-color: mat.define-palette($warn);
$success-color: mat.define-palette($success);
$warning-color: mat.define-palette($warning);
$info-color: mat.define-palette($info);

//DARK MODE COLOR
$dark-primary-color: mat.define-palette($dark-primary);
$dark-accent-color: mat.define-palette($dark-accent);
$dark-warn-color: mat.define-palette($dark-warn);
$dark-success-color: mat.define-palette($dark-success);
$dark-info-color: mat.define-palette($dark-info);
$dark-warning-color: mat.define-palette($dark-warning);

// DEFINITION THEME
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-color,
      accent: $accent-color,
      warn: $warn-color,
    ),
    typography: $typography-config,
    density: 0,
  )
);
$light-theme: map.deep-merge(
  $light-theme,
  (
    success: $success-color,
    warning: $warning-color,
    info: $info-color,
    color: (
      success: $success-color,
      warning: $warning-color,
      info: $info-color,
    ),
  )
);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary-color,
      accent: $dark-accent-color,
      warn: $dark-warn-color,
    ),
    typography: $typography-config,
    density: 0,
  )
);

$dark-theme: map.deep-merge(
  $dark-theme,
  (
    success: $dark-success-color,
    warning: $dark-warning-color,
    info: $dark-info-color,
    color: (
      success: $dark-success-color,
      warning: $dark-warning-color,
      info: $dark-info-color,
    ),
  )
);
// @debug $light-theme;
// LIGHT THEME
$light-background-default: #f1f0ee;
.light-theme {
  background-color: $light-background-default;
  @include mat.all-component-themes($light-theme);
}
.dark-theme {
  @include mat.all-component-colors($dark-theme);
}
// ADDING EXTRA COLORS / SUCCESS / WARNING / INFO

$success-main-color: mat.get-color-from-palette($dark-success, 500);
$info-main-color: mat.get-color-from-palette($dark-info, 500);
$warning-main-color: mat.get-color-from-palette($dark-warning, 500);

$light-contrast-text: #fff;

// EXTRA COLORS CONFIGURATION
@mixin success-config-color {
  background-color: $success-main-color;
  color: $light-contrast-text;
}
@mixin info-config-color {
  background-color: $info-main-color;
  color: $light-contrast-text;
}
@mixin warning-config-color {
  background-color: $warning-main-color;
  color: $light-contrast-text;
}
// MAT TOOLBAR EXTRA COLORS /  DARK AND LIGHT MODE

.light-theme .mat-toolbar.mat-success {
  @include success-config-color;
}
.dark-theme .mat-toolbar.mat-success {
  @include success-config-color;
}
.light-theme .mat-toolbar.mat-info {
  @include info-config-color;
}
.dark-theme .mat-toolbar.mat-info {
  @include info-config-color;
}
.light-theme .mat-toolbar.mat-warning {
  @include warning-config-color;
}
.dark-theme .mat-toolbar.mat-warning {
  @include warning-config-color;
}
// BASIC BUTTON EXTRA COLORS /  DARK AND LIGHT MODE
.light-theme .mat-mdc-button.mat-success {
  color: $success-main-color;
}
.dark-theme .mat-mdc-button.mat-success {
  color: $success-main-color;
}
.light-theme .mat-mdc-button.mat-info {
  color: $info-main-color;
}
.dark-theme .mat-mdc-button.mat-info {
  color: $info-main-color;
}
.light-theme .mat-mdc-button.mat-warning {
  color: $warning-main-color;
}
.dark-theme .mat-mdc-button.mat-warning {
  color: $warning-main-color;
}
// MAT RAISED BUTTON EXTRA COLORS /  DARK AND LIGHT MODE

.light-theme .mat-mdc-raised-button.mat-mdc-button-base.mat-success {
  @include success-config-color;
}
.dark-theme .mat-mdc-raised-button.mat-mdc-button-base.mat-success {
  @include success-config-color;
}
.light-theme .mat-mdc-raised-button.mat-mdc-button-base.mat-info {
  @include info-config-color;
}
.dark-theme .mat-mdc-raised-button.mat-mdc-button-base.mat-info {
  @include info-config-color;
}
.light-theme .mat-mdc-raised-button.mat-mdc-button-base.mat-warning {
  @include warning-config-color;
}
.dark-theme .mat-mdc-raised-button.mat-mdc-button-base.mat-warning {
  @include warning-config-color;
}

// MAT STROKED BUTTON EXTRA COLORS /  DARK AND LIGHT MODE

.light-theme .mat-mdc-outlined-button.mat-success {
  color: $success-main-color;
}
.dark-theme .mat-mdc-outlined-button.mat-success {
  color: $success-main-color;
}
.light-theme .mat-mdc-outlined-button.mat-info {
  color: $info-main-color;
}
.dark-theme .mat-mdc-outlined-button.mat-info {
  color: $info-main-color;
}
.light-theme .mat-mdc-outlined-button.mat-warning {
  color: $warning-main-color;
}
.dark-theme .mat-mdc-outlined-button.mat-warning {
  color: $warning-main-color;
}

// FLAT BUTTON EXTRA COLORS /  DARK AND LIGHT MODE

.light-theme .mat-mdc-unelevated-button.mat-mdc-button-base.mat-success {
  @include success-config-color;
}
.dark-theme .mat-mdc-unelevated-button.mat-mdc-button-base.mat-success {
  @include success-config-color;
}
.light-theme .mat-mdc-unelevated-button.mat-mdc-button-base.mat-info {
  @include info-config-color;
}
.dark-theme .mat-mdc-unelevated-button.mat-mdc-button-base.mat-info {
  @include info-config-color;
}
.light-theme .mat-mdc-unelevated-button.mat-mdc-button-base.mat-warning {
  @include warning-config-color;
}
.dark-theme .mat-mdc-unelevated-button.mat-mdc-button-base.mat-warning {
  @include warning-config-color;
}

// ICON BUTTON EXTRA COLORS /  DARK AND LIGHT MODE

.light-theme .mat-mdc-icon-button.mat-success {
  color: $success-main-color;
}
.dark-theme .mat-mdc-icon-button.mat-success {
  color: $success-main-color;
}
.light-theme .mat-mdc-icon-button.mat-info {
  color: $info-main-color;
}
.dark-theme .mat-mdc-icon-button.mat-info {
  color: $info-main-color;
}
.light-theme .mat-mdc-icon-button.mat-warning {
  color: $warning-main-color;
}
.dark-theme .mat-mdc-icon-button.mat-warning {
  color: $warning-main-color;
}

// ICON EXTRA COLORS /  DARK AND LIGHT MODE

.light-theme .mat-icon.mat-success {
  color: $success-main-color;
}
.dark-theme .mat-icon.mat-success {
  color: $success-main-color;
}
.light-theme .mat-icon.mat-info {
  color: $info-main-color;
}
.dark-theme .mat-icon.mat-info {
  color: $info-main-color;
}
.light-theme .mat-icon.mat-warning {
  color: $warning-main-color;
}
.dark-theme .mat-icon.mat-warning {
  color: $warning-main-color;
}
// MAT FAB BUTTON EXTRA COLORS / DARK AND LIGHT MODE

.light-theme .mat-mdc-fab.mat-success {
  @include success-config-color;
}
.dark-theme .mat-mdc-fab.mat-success {
  @include success-config-color;
}
.light-theme .mat-mdc-fab.mat-info {
  @include info-config-color;
}
.dark-theme .mat-mdc-fab.mat-info {
  @include info-config-color;
}
.light-theme .mat-mdc-fab.mat-warning {
  @include warning-config-color;
}
.dark-theme .mat-mdc-fab.mat-warning {
  @include warning-config-color;
}
// MAT MINI FAB BUTTON EXTRA COLORS / DARK AND LIGHT MODE

.light-theme .mat-mdc-mini-fab.mat-success {
  @include success-config-color;
}
.dark-theme .mat-mdc-mini-fab.mat-success {
  @include success-config-color;
}
.light-theme .mat-mdc-mini-fab.mat-info {
  @include info-config-color;
}
.dark-theme .mat-mdc-mini-fab.mat-info {
  @include info-config-color;
}
.light-theme .mat-mdc-mini-fab.mat-warning {
  @include warning-config-color;
}
.dark-theme .mat-mdc-mini-fab.mat-warning {
  @include warning-config-color;
}
// MAT BADGE EXTRA COLORS /  DARK AND LIGHT MODE

.light-theme .mat-badge.mat-badge.mat-success {
  @include success-config-color;
}
.dark-theme .mat-badge.mat-badge.mat-success {
  @include success-config-color;
}
.light-theme .mat-badge.mat-badge.mat-info {
  @include info-config-color;
}
.dark-theme .mat-badge.mat-badge.mat-info {
  @include info-config-color;
}
.light-theme .mat-badge.mat-badge.mat-warning {
  @include info-config-color;
}
.dark-theme .mat-badge.mat-badge.mat-warning {
  @include info-config-color;
}

// MAT CHECKBOX / MAT RADIO BUTTONS --THESE ONLY CAN BE CHANGED  TO 'PRIMARY' OR 'WARN' COLOR. https://material.angular.io/components/checkbox/overview

// MAT CHIPS EXTRA COLORS / DARK AND LIGHT MODE
.light-theme .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-success {
  @include success-config-color;
}
.dark-theme .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-success {
  @include success-config-color;
}
.light-theme .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-info {
  @include info-config-color;
}
.dark-theme .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-info {
  @include info-config-color;
}
.light-theme .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-warning {
  @include warning-config-color;
}
.dark-theme .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-warning {
  @include warning-config-color;
}
// MAT AUTOCOMPLETE
