@use "./variants" as variants;
@use "@angular/material" as mat;
@use "sass:map";
@import "./palettes";

//LIGHT MODE COLORS
$primary-color: mat.define-palette($primary);
$accent-color: mat.define-palette($accent);
$warn-color: mat.define-palette($warn);
$success-color: mat.define-palette($success);
$warning-color: mat.define-palette($warning);
$info-color: mat.define-palette($info);

//DARK MODE COLOR
$dark-primary-color: mat.define-palette($dark-primary);
$dark-accent-color: mat.define-palette($dark-accent);
$dark-warn-color: mat.define-palette($dark-warn);
$dark-success-color: mat.define-palette($dark-success);
$dark-info-color: mat.define-palette($dark-info);
$dark-warning-color: mat.define-palette($dark-warning);

$light-theme: mat.define-light-theme(
  (
    color:( primary: $primary-color , accent: $accent-color,warning: $warning-color),
  ),
  
);
$light-theme: map.deep-merge(
  $light-theme,(
    success: $success-color,
    color:(
    success: $success-color,
    ),
  )
);
$light-theme-variants: (
  success: $success-color,
);

// @include mat.core-theme($light-theme);
@include mat.all-component-themes($light-theme);
// @include mat.button-theme($light-theme);

// @include variants.color($light-theme, $light-theme-variants);