// EXTRA COLORS CONFIGURATION

// @import "./variables";
// @import "./palettes.scss";

@mixin success-config-color {
  background-color: $success-main-color;
  color: $light-contrast-text;
}
@mixin info-config-color {
  background-color: $info-main-color;
  color: $light-contrast-text;
}
@mixin warning-config-color {
  background-color: $warning-main-color;
  color: $light-contrast-text;
}
@mixin dark-success-config-color {
  background-color: $dark-success-color;
  color: $dark-contrast-text;
}
@mixin dark-info-config-color {
  background-color: $dark-info-color;
  color: $dark-contrast-text;
}
@mixin dark-warning-config-color {
  background-color: $dark-warning-color;
  color: $dark-contrast-text;
}
