// EXTRA COLORS / DARK AND LIGHT MODE
// @import "./palettes";
// @import "./configTheme";
// ADDING EXTRA COLORS / SUCCESS / WARNING / INFO

$success-main-color: mat.get-color-from-palette($success, 500);
$info-main-color: mat.get-color-from-palette($info, 500);
$warning-main-color: mat.get-color-from-palette($warning, 500);

$dark-success-color: mat.get-color-from-palette($dark-success, 500);
$dark-info-color: mat.get-color-from-palette($dark-info, 500);
$dark-warning-color: mat.get-color-from-palette($dark-warning, 500);

$light-contrast-text: #fff;
$dark-contrast-text: #000;

//LIGHT MODE COLORS
$primary-color: mat.define-palette($primary);
$accent-color: mat.define-palette($accent);
$warn-color: mat.define-palette($warn);
$success-color: mat.define-palette($success);
$warning-color: mat.define-palette($warning);
$info-color: mat.define-palette($info);

//DARK MODE COLOR
$dark-primary-color: mat.define-palette($dark-primary);
$dark-accent-color: mat.define-palette($dark-accent);
$dark-warn-color: mat.define-palette($dark-warn);
$dark-success-color: mat.define-palette($dark-success);
$dark-info-color: mat.define-palette($dark-info);
$dark-warning-color: mat.define-palette($dark-warning);