<div class="demo-section">
    Button with a badge on the left
    <button
      mat-raised-button
      color="success"
      matBadge="8"
      matBadgePosition="before"
      matBadgeColor="warn"
    >
      Success
    </button>
  </div>
  <div class="demo-section">
    Button with a badge on the left
    <button
      mat-raised-button
      color="info"
      matBadge="8"
      matBadgePosition="before"
      matBadgeColor="warn"
    >
      Info
    </button>
  </div>
  <div class="demo-section">
    Button with a badge on the left 
    <button
      mat-raised-button
      color="warning"
      matBadge="8"
      matBadgePosition="before"
      matBadgeColor="warn"
    >
      Warning
    </button>
  </div>
  <div class="demo-section">
    Button with a badge on the left
    <button
      mat-raised-button
      color="primary"
      matBadge="8"
      matBadgePosition="before"
      matBadgeColor="warn"
    >
      Primary
    </button>
  </div>
  <div class="demo-section">
    Button with a badge on the left
    <button
      mat-raised-button
      color="accent"
      matBadge="8"
      matBadgePosition="before"
      matBadgeColor="warn"
    >
      Accent
    </button>
  </div>
  <div class="demo-section">
    Button with a badge on the left
    <button
      mat-raised-button
      color="warn"
      matBadge="8"
      matBadgePosition="before"
      matBadgeColor="warn"
    >
      Action
    </button>
  </div>
  