<div>
  <mat-checkbox
    class="example-margin"
    color="primary"
    size="small"
  ></mat-checkbox>
  <mat-checkbox class="example-margin" color="accent"></mat-checkbox>
  <mat-checkbox class="example-margin" color="warn" size="large"></mat-checkbox>
</div>
<mat-divider></mat-divider>
<form class="example-form">
  <mat-form-field size="small" class="example-full-width" appearance="fill">
    <mat-label>input small</mat-label>
    <input type="text" matInput />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Input medium</mat-label>
    <input type="text" matInput />
  </mat-form-field>
</form>
<mat-divider></mat-divider>
<button mat-raised-button size="small" color="primary">Basic</button>
<button size="medium" mat-raised-button color="accent">Basic</button>
<button size="large" mat-raised-button color="warn">Basic</button>
<mat-divider></mat-divider>
<mat-chip class="example-box" size="small"> Hola soy small</mat-chip>
<mat-chip class="example-box"> Hola soy normal</mat-chip>
<mat-divider></mat-divider>
<mat-slider
  min="0"
  size="small"
  max="100000"
  step="1000"
  showTickMarks
  discrete
>
  <input matSliderThumb />
</mat-slider>
<mat-slider min="0" max="100000" step="1000" showTickMarks discrete>
  <input matSliderThumb />
</mat-slider>
<mat-divider></mat-divider>

<mat-radio-button value="2" size="small" color="primary"></mat-radio-button>
<mat-radio-button value="3"></mat-radio-button>
<mat-radio-button value="1" size="large" color="warn"> </mat-radio-button>
<mat-divider></mat-divider>
<mat-icon color="primary" size="small">house</mat-icon>
<mat-icon color="accent">house</mat-icon>
<mat-icon color="warn" size="large">house</mat-icon>
<mat-divider></mat-divider>
<section style="display: flex">
  <mat-spinner size="small"></mat-spinner>
  <mat-spinner color="accent"></mat-spinner>
</section>
