<app-toolbar></app-toolbar>
<!-- <app-mat-stepper></app-mat-stepper> -->
<app-mat-buttons></app-mat-buttons>
<app-mat-bagde></app-mat-bagde>
<app-checkbox></app-checkbox>
<app-mat-chips></app-mat-chips>
<app-mat-radio-buttons></app-mat-radio-buttons>
<br>
<app-mat-input></app-mat-input>
<app-mat-spinner></app-mat-spinner>
<app-mat-autocomplete></app-mat-autocomplete>
<app-mat-progress-bar></app-mat-progress-bar>
<app-mat-slider></app-mat-slider>
<app-mat-slide-toggle></app-mat-slide-toggle>
 <!-- <app-mat-data-picker></app-mat-data-picker> -->

<router-outlet></router-outlet>
